<div id="footer">
    <ul class="credit">
        <li>&copy; {{ site.time | date: "%Y" }}</li>
        <li><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Licença Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a>
        <li><a href="http://twitter.com/drgomesp">@drgomesp</a></li>
        <li><img class="avatar" alt="Daniel Ribeiro" src="https://secure.gravatar.com/avatar/548702460c758f6fdeba68025457b12f?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" /></li>
    </ul>
</div>