<ul class="main-navigation">
  <li><a href="{{ root_url }}/"><i class="icon-home icon-large"></i> Home</a></li>
  <li><a href="{{ root_url }}/blog/tags/pt-br"><i class="icon-briefcase icon-large"></i> Artigos em português</a></li>
  <li><a href="{{ root_url }}/blog/tags/en"><i class="icon-briefcase icon-large"></i> English articles</a></li>
  <li><a href="http://github.com/drgomesp"><i class="icon-github-alt icon-large"></i> GitHub</a></li>
  <li><a href="{{ site.url }}/atom.xml"><i class="icon-rss icon-large"></i> RSS</a></li>
</ul>
